<div class="layout-row flex">
  <h2>{{state.activeNode.visibleName}}</h2>
  <span class="flex"></span>
  {{#if state.activeNode}}
    {{#paper-button iconButton=true onClick=(action deleteActive)}}{{paper-icon "delete"}}{{/paper-button}}
  {{/if}}
</div>

<div class="layout-row layout-wrap">
  {{#each state.activeNode.ui_attributes.config_order as |configKey|}}
  {{#with (get state.activeNode.config configKey) as |configDefinition|}}

  <div class="config-tile">
    <div class="layout-column">
      {{!-- <strong> {{titleize (humanize configKey)}} </strong> --}}
      {{#if configDefinition.info}}
        {{#paper-tooltip position='top' class="exred-tooltip"}}{{ configDefinition.info }}{{/paper-tooltip}}
      {{/if}}
      {{component
        (concat "x-config-tab/" configDefinition.type)
        key=(readonly configKey)
        value=(readonly configDefinition.value)
        configUpdate=(action 'configUpdate')
        fieldAttrs=configDefinition.attrs}}
    </div>
  </div>

  {{/with}}
  {{/each}}
  
</div>


<div class="layout-column">

  {{#if state.configChanged}}
    {{paper-divider}}
    {{#paper-button
      raised=true
      primary=true
      onClick=(action saveNewConfig configBuffer)}}Save{{/paper-button}}
  {{/if}}

</div>
