<div class="layout-row flex">
  <h2>{{state.activeNode.visibleName}}</h2>
  <span class="flex"></span>
  {{#if state.activeNode}}
    {{#paper-button iconButton=true onClick=(action deleteActive)}}{{paper-icon "delete"}}{{/paper-button}}
  {{/if}}
</div>


{{#paper-card as |card|}}
  {{#card.content}}
      {{markdown-to-html state.activeNode.info}}
  {{/card.content}}
{{/paper-card}}


{{#paper-card as |card|}}
  {{#card.content}}

    {{#paper-data-table as |table|}}

    {{#table.head as |head|}}
      {{#head.column}}Config Field{{/head.column}}
      {{#head.column}}Type{{/head.column}}
      {{#head.column}}Attributes{{/head.column}}
    {{/table.head}}

    {{#table.body as |body|}}
      {{#each state.activeNode.ui_attributes.config_order as |configKey|}}
      {{#with (get state.activeNode.config configKey) as |configVal|}}

        {{#body.row as |row|}}
          {{#row.cell}}
            {{#if configVal.info}}
              {{#paper-tooltip position='top' class="exred-tooltip"}}{{ configVal.info }}{{/paper-tooltip}}
            {{/if}}
            {{configKey}}
          {{/row.cell}}

          {{#row.cell}}{{configVal.type}}{{/row.cell}}

          {{#row.cell}}
            {{#if configVal.attrs}}
              {{#paper-data-table as |attrsTable|}}
              {{#attrsTable.body as |attrsBody|}}
                {{#each-in configVal.attrs as |attrName attrValue|}}
                  {{#attrsBody.row as |attrsRow|}}
                    {{#attrsRow.cell}}{{attrName}}{{/attrsRow.cell}}
                    {{#attrsRow.cell}}{{attrValue}}{{/attrsRow.cell}}
                  {{/attrsBody.row}}
                {{/each-in}}
              {{/attrsTable.body}}
              {{/paper-data-table}}
            {{/if}}
          {{/row.cell}}
        {{/body.row}}

      {{/with}}
      {{/each}}
    {{/table.body}}

    {{/paper-data-table}}

  {{/card.content}}
{{/paper-card}}

